header {
  display: grid;
  grid-template-columns: 35px 1fr 40px 20px;
  grid-template-rows: 1fr;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.home-headline {
  display: inline;
  font-size: 20px;
  align-self: center;
  font-weight: bold;
}
.logo-small {
  height: 25px;
}
.icon1 {
  align-self: center;
}
.icon2 {
  align-self: center;
}
.bell-img {
  height: 20px;
}
.border-all-solid {
  height: 20px;
}

.hello {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1;
  margin: 20px;
  line-height: 20px;
}
.image-member {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  align-self: center;
  border: 2px solid var(--primary-color);
}

.sublinetwo {
  display: block;
  font-size: 10px;
}

.schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0 20px 0 20px;
}

.date {
  color: #ccc;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.day {
  font-size: 12px;
}

.number {
  font-size: 14px;
}

.today {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--background-color);
}
