.welcome {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  background-image: url(../../assets/Pictures/PATTERN.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
