.welcome {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;

  /* background-image: url(../../assets/Pictures/PATTERN.svg); */
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.welcome > * {
  margin: 0 0 20px 0;
}

.logo {
  width: 40px;
  height: auto;
}

.headline {
  font-size: 1.5em;
}

.subline {
  font-size: 0.9em;
  line-height: 2em;
}

.start a:link,
.start a:visited,
.start a:hover,
.start a:active {
  color: #fff;
  text-decoration: white;
}

/* a:link {
  text-decoration: white;
} */
