@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: white;
  background-color: var(--background-color);
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --background-color: #102733;
  --primary-color: #fccd00;
  --secundary-color: #f5f5f5;
  --footer-color: #152f3e;
}

.primary-color {
  color: var(--primary-color);
}
